<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dd><h4>Product Reviews</h4></dd>
          <dd><%= render @product.ratings.reverse %></dd>
          <% if current_user %>
          <dd><%= form_for [@product, @rating] do |f| %>
            <%= f.text_area :description, size: "60x12" %>
            <%= f.select :rating, [5, 4, 3, 2, 1] %>
            <%= f.submit "Create" %>
            <% end %>
          <% else %>
          <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </article>

</section>
